<h4>Checkout</h4>

<%= form_for :checkout, url: checkouts_url, method: :post, html: { id: :checkout } do |f| %>
  <%= f.hidden_field :payment_method_nonce %>
  <section>
    <label for="amount">
      <span class="input-label">Amount</span>
      <div class="input-wrapper amount-wrapper">
        <%= number_to_currency @order.amount %>
      </div>
    </label>

    <%= render "checkouts/form/customer", f: f %>
    <%= render "checkouts/form/biling", f: f  %>

    <div id="bt-dropin"></div>
  </section>

  <%= f.submit "Purchase" %>
<% end %>

<script src="https://js.braintreegateway.com/web/dropin/1.25.0/js/dropin.min.js"></script>
<script>
  braintree.dropin.create({
    authorization: "<%= @client_token %>",
    container: '#bt-dropin',
    vaultManager: true,
    paypal: {
      flow: 'vault'
    }
  }, function (createErr, instance) {
    document.getElementById('checkout').addEventListener('submit', function (e) {
      var form = this;
      e.preventDefault();

      instance.requestPaymentMethod(function (err, payload) {
        if (err) {
          console.log('Error', err);
          return;
        }

        document.getElementById('checkout_payment_method_nonce').value = payload.nonce;
        form.submit();
      });
    });
  });
</script>
<%= javascript_include_tag 'application', 'data-turbolinks-suppress-warning' => true, 'data-turbolinks-track' => true %>
